@page
@model ECommerce_App.Pages.Cart.CartModel
@{
}

<h1>Hello, here is your cart</h1> 

<form method="post">
    <div>
        <label asp-for="@Model.Name"> Product : @Model.Name</label>
    </div>
    <div>
        <label asp-for="@Model.Price"> Price : @Model.Price </label>
    </div>
    <div>
        <input type="hidden" asp-for="@Model.productId"> 
    </div>
    <div>
        <input asp-for="@Model.Quantity" />
    </div>
    <div>
      <input type="Submit" title="Pay Now"/>
    </div>



</form>