@page
@model ECommerce_App.Pages.Cart.CartModel
@{
}

<h1>Hello, here is your cart</h1>
<form method="post">
    @if (Model.Checkout != null)
    {
        @foreach (var item in Model.Checkout)
        {

            <div>
                <label asp-for="@item.Meal.Name"> Product : @item.Meal.Name</label>
            </div>
            <div>
                <label asp-for="@item.Meal.Price"> Price : @item.Meal.Price </label>
            </div>
            <div>
                <input type="hidden" asp-for="@item.Meal.Id">
                <input type="hidden" asp-for="@item.CreateCart.Id">
            </div>
            <div>
                <input type="Submit" title="Pay Now" />
            </div>
        }
    }

    <div>
        <input type="Submit" title="Pay Now" />
    </div>
</form>