@model ECommerce_App.Models.Meal


<label>
    <span>name</span>
    <input asp-for="@Model.name" />
</label>

<label>
    <span>price</span>
    <input asp-for="@Model.price" />
</label>

<label>
    <span>ingredients</span>
    <input asp-for="@Model.ingredients" />
</label>

<label>
    <span>nutrition</span>
    <input asp-for="@Model.nutrition" />
</label>

<label>
    <span>type</span>
    <input asp-for="@Model.type" />
</label>

<button type="submit">Save Meal</button>
