@model ECommerce_App.Models.Meal


<label>
    <span>name</span>
    <input asp-for="@Model.Name" />
</label>

<label>
    <span>price</span>
    <input asp-for="@Model.Price" />
</label>

<label>
    <span>ingredients</span>
    <input asp-for="@Model.Ingredients" />
</label>

<label>
    <span>nutrition</span>
    <input asp-for="@Model.Nutrition" />
</label>

<label>
    <span>type</span>
    <input asp-for="@Model.Type" />
</label>

<button type="submit">Save Meal</button>
