@page "{Id}"
@model ECommerce_App.Pages.Products.ProductModel
@{
}


<form method="post">
    <h2>@Model.Product.name</h2>
    <input type="hidden" asp-for="@Model.Product.name"/>
    <ul>
        
        <li>
            <input asp-for="@Model.Product.ingredients" />
        </li>
        <li>
            Price -
            <input asp-for="@Model.Product.price" />
        </li>

        <li>

            <input asp-for="@Model.Product.nutrition" />
        </li>
        <li>
            <input asp-for="@Model.Product.type" />
        </li>


    </ul>
    <div>
        <input type="hidden" asp-for="@Model.Product.Id" />
        <input type="hidden" asp-for="@Model.CartInput.mealId" />       
        <input type="hidden" asp-for="@Model.CartInput.price" />

        <button type="submit">Add to Cart</button>
    </div>
</form>   


