@page "{id}"
@model ECommerce_App.Pages.Products.ProductModel
@{
}

<h2>@Model.Product.name</h2>
<ul>
    <li>@Model.Product.ingredients</></li>
    <li>Price - @Model.Product.price</li> 
    <li>@Model.Product.nutrition</li>
    <li>@Model.Product.type</li>
</ul>
    


